* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  /* height: 4000px; */
}

.bodyContainer {
  height: 100vh;
  /* margin-top: 76px; */
  /* padding-top: 76px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(122, 152, 179); */
}
