.confirmationemailpageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  /* width: 100%; */
  flex-direction: column;
  box-shadow: -1px 0px 8px 0px grey;
}
#EmailVerificationmsg {
  width: 300px;
}
#nameofinstituteemailidinVerificationPage {
  color: #6a5c48;
}
.WhatIsYourOtp {
  margin-top: 15px;
  position: relative;
}
.WhatIsYourOtp input {
  padding-left: 25px;
  margin-top: 6px;
  border: 1px dashed rgb(5 83 107);
  border-radius: 1px;
  width: 255px;
}
.WhatIsYourOtp h5 {
  /* color: coral; */
  color: teal;
}
.OTPlocklogo {
  color: rgb(33 125 180);

  position: absolute;
  top: 26px;
  right: 235px;
  font-size: 12px;
}
#VerifyOTPbutton {
  /* padding: 4px; */
  background-color: rgb(209 216 221);
  border: 1px dashed;
  margin-top: 17px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#VerifyOTPbutton:hover {
  background-color: cadetblue;
  color: white;
  border: 1px dashed;
}
.VerifyButtonbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
