.IwgFormContainer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  /* width: 100%; */
  flex-direction: column;
  box-shadow: -1px 0px 8px 0px grey;
  /* width: 400px; */
}
.WhatName {
  /* border: 1px solid blue; */
  margin-top: 15px;
  position: relative;
}
.WhatName input {
  padding-left: 25px;
  margin-top: 6px;
  border: 1px dashed rgb(5 83 107);
  border-radius: 1px;
}
.WhatName h5 {
  /* color: coral; */
  color: teal;
}
.WhatRollNumber {
  /* border: 1px solid yellow; */
  margin-top: 15px;
  position: relative;
}
.WhatRollNumber input {
  padding-left: 25px;
  margin-top: 6px;
  border: 1px dashed rgb(5 83 107);
  border-radius: 1px;
}
.WhatRollNumber h5 {
  /* color: coral; */
  color: teal;
}

.IWGLogoContainer img {
  /* border: 1px solid rgb(67, 26, 201); */

  object-fit: cover;
}
#nextbutton {
  /* padding: 4px; */
  background-color: rgb(209 216 221);
  border: 1px dashed;
  margin-top: 14px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#nextbutton:hover {
  background-color: cadetblue;
  color: white;
  border: 1px dashed;
}
.logoOfName {
  color: rgb(20, 20, 19);
  position: absolute;
  top: 25px;
  right: 168px;
}
.logoOfRoll {
  color: rgb(20, 20, 19);
  position: absolute;
  top: 25px;
  right: 168px;
}
.headingFresherSelection h3 {
  color: coral;
  font-family: "ZCOOL XiaoWei", serif;
}
.BlankerrorForRoll {
  position: absolute;
  color: red;
  top: 39px;
  right: -1px;
  font-size: 13px;
  font-weight: bold;
}
.BlankerrorForName {
  position: absolute;
  color: red;
  top: 39px;
  right: -1px;
  font-size: 13px;
  font-weight: bold;
}
